:root {
    --bg-color: #fff;
    --text-color: #333;
    --btn-bg: #6495ed;
    --btn-text: #fff;
    --btn-hover: #5478c6;
}

[data-theme='dark'] {
    --bg-color: #1e1e1e;
    --text-color: #ddd;
    --btn-bg: #6a5acd;
    --btn-hover: #5949a3;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    transition:
        background 0.3s,
        color 0.3s;
}

button {
    background: var(--btn-bg);
    color: var(--btn-text);
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: var(--btn-hover);
}

button:active {
    transform: scale(0.95);
}
