{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": false,
    "endOfLine": "lf",
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "strict",
    "bracketSameLine": false
}
